*.class
base_project/base/base.iml
goplaces/goplaces.iml
# Mobile Tools for Java (J2ME)
.mtj.tmp/
.idea/*
# Package Files #
*.jar
*.war
*.ear
base_project/base/src/main/main1.iml
goplaces/.idea/
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Google App Engine generated folder
appengine-generated/
base_project/base/target/
base_project/credentials.txt
base/target/
goplaces/src/main/main.iml
goplaces/src/test/test.iml
# tmp files
*.*~
.DS_Store
