* {
	box-sizing:border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

h1, h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
}

header {
	position: fixed;
	background-color: #4099FF;
	height: 65px;
	text-align: center;
	top: 0;
	width: 100%;	
	display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

footer {
	background-color: grey;
	color: white;
	height: 65px;
	margin-top: 30px;
	text-align: center;
	top: 0;
	width: 100%;	
	display: flex;
    align-items: center;
    justify-content: center;
}

.header-title {
	margin: 0;
	color: white;
}

.container {
	color: #8e8e8e;
	margin: auto;
	margin-top: 105px;
	width: 75%;
	z-index: 1;
}

input[type="text"] {
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

input[type="text"]:focus {
  outline: none;
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

.u-center {
	text-align: center;
}

.u-margin-bottom-xl {
	margin-bottom: 40px;
}

.u-margin-bottom-small {
	margin-bottom: 15px;
}

.u-margin-bottom-xsmall {
	margin-bottom: 5px;
}

.u-margin-top-xsmall {
	margin-top: 5px;
}

.u-margin-right-xl {
	margin-right: 30px;
}

.u-margin-right-small {
	margin-right: 5px;
}

.u-left-right-align:after {
	clear: both;
}

.u-float-right {
	float: right;
}

.places-form__textbox {
	width: 45%;
}

.form-submit-btn {
	background-color: #4099FF;
	border: 0;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin-top: 10px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
}

.form-submit-btn--red {
	background-color: red;
}

.form-add-btn {
	background-color: #4099FF;
	border: rgb(116, 117, 119) solid 1px;
	border-radius: 15px;
	box-shadow: 1px 1px 5px rgba(3, 9, 62, 0.8);
	color: white;
	display: inline-block;
	font-size: 21px;
  	height: 30px;
  	margin-top: 15px;
  	text-align: center;
  	text-decoration: none;
  	width: 30px;
}

.form-add-btn:hover {
	background-color: yellow;
	color: #4099FF;
}

.map-container {
	height: 350px;
}

.map-legend {
	list-style: none;
}

.map-legend-item {
	color: black;
	font-style: italic;
	list-style: none;
	margin-left: 0;
}

.map-legend-item__color {
	display: inline-block;
	height: 16px;
	width: 16px;
	margin-right: 5px;

}

#content {
	color: black;
}

.reviews-displayer {
	position: absolute;
	top: 0;
	left: 0;
	width: 40%;
	height: 100%;
	background-color: wheat;
	border: blue 1px dashed;
	padding: 10px;
	overflow-y: auto;
}

.review-item {
	border-top: black 1px solid;
	color: black;
	font-size: 0.8em;
	margin: 10px;
}

.review-item__comment {
	font-size: 0.8em;
}

.final-route-bar {
	position: fixed;
	left: 5px;
	top: 77px;
	z-index: 3;
}

.loading-screen {
	background-color: black;
	color: white;
	height: 100%;
	opacity: 0.95;
	position: fixed;
	text-align: center;
	top: 65px;
	width: 100%;
	z-index: 4;
}

.loading-screen--hidden {
	visibility: hidden;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: white;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.step-instruction {
	border-bottom: 1px solid black;
}

.step-instruction__info {
	display: inline-block;
	width: 135px;
}
